@font-face {
    font-family: JKAbode-Demo;
    src: url('../../../public/fonts/JKAbode-Demo.ttf');
  }

.bod {
    width: 100vw;
    height: 100vh;
    background: #070926;
    overflow-y: hidden;
}

.wave_container {
    position: absolute;
    bottom: -1vh;
    right: 0;
    overflow-y: hidden;
}

.wave_container img {
    width: 1370px;
    height: 350px;
    overflow-y: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-left: 6em;
    margin-top: 2em;
}


.title h1 {
    font-family: JKAbode-Demo;
    color: #718FC8;
    font-size: 5em;
    font-weight: 200;
    position: relative;
    margin-top: 1em;
}

.title span{
    position: absolute;
    top: -14px;
    left: 82px;
}

.title a {
    font-family: JKAbode-Demo;
    color: white;
    padding: 0.4em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.links_container {
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    z-index: 1;
}

.donate_link {
    background: #05A897;
}

.video_link {
    background: #718FC8;
}

.title p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #83868B;
    width: 480px;
}

.image_container {
    position: absolute;
    top: 215px;
    right: 99px;
}

.image_container img{
    width: 300px;
}

.mobile_description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 400px;
    display: none;
}

.ro_bg {
    display: none;
}

.copy {
    position: absolute;
    right: 9px;
    bottom: 9px;
    font-size: .7em;
    color: #181717;
}

.title_mobile_container {
    margin-top: 12vh;
    padding: 0.1em;
    display: none;
}

.title_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7em;
}


.title_main h1 {
    font-family: JKAbode-Demo, sans-serif;
    color: #718FC8;
    font-weight: 100;
    text-align: center;
    position: relative;
}
.title_main span {
    position: absolute;
    top: -4px;
    left: 34px;
}

.title_main p {
    color: #54656D;
    text-align: center;
    font-size: .8em;
}

.links_container_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mobile_login {
    text-decoration: none;
    color: #718FC8;
    background: #070926;
    padding: .5em 4.7em;
    border-radius: 15px;
    font-family: JKAbode-Demo, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
}

.mobile_video {
    font-family: JKAbode-Demo;
    color: white;
    padding: 0.4em 0.5em;
    background: #718FC8;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 1em;
}

@media screen and (max-width: 600px) {

    .title_mobile_container {
        display: block;
    }

    .copy {
        position: absolute;
        right: 30px;
        bottom: 9px;
        font-size: .4em;
    }

    .wave_container img {
        width: 415px;
        height: 255px;
        overflow-x: hidden;
    }

    .image_container {
        right: 10px;
        top: 59vh;
    }

    .image_container img{
        width: 150px;
    }

    .ro_bg {
        display: block;
        width: 100vw;
        height: 35vh;
        background: #0A1622;
        margin-top: 28%;
        border-radius: 17px;
    }

    .ro_bg img {
        width: 170px;
        position: absolute;
        top: 43vh;
    }

    .title a {
        padding: 0.3em 0.9em;
    }

    .title {
        display: none;
    }

    .title p {
        color: white;
        font-size: 2.5em;
        width: 257px;
    }

    .title h2 {
        font-size: 1em;
        color: #54656D;
    }

    .title a {
        margin-top: 0;
    }

    .mobile_description {
        display: block;
    }

    .title span{
        position: absolute;
        top: -6px;
        left: 43px;
    }
}