@font-face {
    font-family: JKAbode-Demo;
    src: url('../../../public/fonts/JKAbode-Demo.ttf');
  }


.bod {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,#0A1622, #2F4962);
}

.title {
}

.title p {
    font-family: JKAbode-Demo;
    color: #05A897;
    font-size: 6em;
}
.title a {
    font-family: JKAbode-Demo;
    color: white;
    background: #05A897;
    padding: 0.7em 0.9em;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 157px;
}