.dropdown_menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;  
    z-index: 1;
}

.dropdown_menu li {
  background: #21242A;
  transition: .5s;
  cursor: pointer;
}


.dropdown_menu li:hover {
    background: #02A592;
}

.dropdown_menu li > a {
    text-decoration: none;
 }

.dropdown_menu.clicked {
  z-index: 1;
}

.dropdown_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}